<header class="site-header col-12">
  <h1>Ecole maternelle</h1>
</header>
<div class="wrapper">
  <div class="mater-header shadow col-12">
    <div class="container">
        L'école maternelle du groupe scolaire de Lafitte Vigordane accueille les enfants de la commune dans 3 classes.
    </div>
  </div>
  
  <div class="container">
    <div class="row d-flex justify-content-around">
      <app-class-card class="col-4" [data]="item" *ngFor="let item of cards"></app-class-card>
    </div>
  </div>

  <!-- <section class="ecoles">
    <div class="container">
      <div class="row">
        <div class="d-flex justify-content-center col-12">
          <article class="card col-4 mx-2">
            <a href="#">          
              <div class="card-body">
                <h3 class="card-title">
                  PS
                </h3>
                <h6 class="card-subtitle text-muted">Petite Section</h6>
                <p class="card-text">
                  <ul class="no-bullet no-padding top-buffer">
                    <li>
                      <strong>Institutrices</strong>
                      <ul class="no-bullet">
                        <li>Mme Carré Christine</li>
                        <li>Mme Bodier (1 vendredi / mois)</li>
                      </ul>
                    </li>
                    <li>
                      <strong>ATSEM</strong>
                      <ul class="no-bullet">
                        <li>Mme ---- Nadine</li>
                      </ul>
                    </li>
                    <li>
                      <strong>Effectif</strong>
                      <ul class="no-bullet">
                        <li>24 élèves</li>
                      </ul>
                    </li>                         
                  </ul>
                </p>
              </div>
            </a>
          </article>
          <article class="card col-4 mx-2">
            <a href="#">          
              <div class="card-body">
                <h3 class="card-title">
                  PS-MS
                </h3>
                <h6 class="card-subtitle text-muted">Petite - Moyenne Section</h6>
                <p class="card-text">
                  <ul class="no-bullet no-padding top-buffer">
                    <li>
                      <strong>Institutrice</strong>
                      <ul class="no-bullet">
                        <li>Mme Lamarche Laurence</li>
                        <br>
                      </ul>
                    </li>
                    <li>
                      <strong>ATSEM</strong>
                      <ul class="no-bullet">
                        <li>Mme ---- Nassilia</li>
                      </ul>
                    </li>
                    <li>
                      <strong>Effectif</strong>
                      <ul class="no-bullet">
                        <li>25 élèves (4 PS - 21 MS)</li>
                      </ul>
                    </li>                         
                  </ul>
                </p>
              </div>
            </a>
          </article>
          <article class="card col-4 mx-2">
            <a href="#">          
              <div class="card-body">
                <h3 class="card-title">
                  GS
                </h3>
                <h6 class="card-subtitle text-muted">Grande Section</h6>
                <p class="card-text">
                  <ul class="no-bullet no-padding top-buffer">
                    <li>
                      <strong>Institutrice</strong>
                      <ul class="no-bullet">
                        <li>Mme Texier Rachel</li>
                        <br>
                      </ul>
                    </li>
                    <li>
                      <strong>Emploi civique</strong>
                      <ul class="no-bullet">
                        <li>Mme ---- ----</li>
                      </ul>
                    </li>
                    <li>
                      <strong>Effectif</strong>
                      <ul class="no-bullet">
                        <li>25 élèves</li>
                      </ul>
                    </li>                         
                  </ul>
                </p>
              </div>
            </a>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="actualites shadow">
    <div class="container">
      <h2>ACTUALITES</h2>
      <article class="post">
        <h4 class="post-title">PPMS - EXERCICE DE CONFINEMENT</h4>
        <div class="post-content">
          <p>
            Chaque école se doit de disposer d'un Plan Particulier de Mise en Sécurité (PPMS) en prévision d'un risque majeur éventuel se produisant dans les environs de l'école.
            <br>
            Affiché dans le hall, vous pourrez lire le protocole à suivre en cas d'incident.
            <br>
            Nous vous informons également que les enfants de la maternelle ont participé à un exercice de confinement simulation le 14 novembre 2017.
            <br>
            L'exercice s'est bien déroulé.
          </p>
        </div>
      </article>      
      <hr>
      <article class="post">
        <h4 class="post-title">LIVRE DE RECETTES</h4>
        <div class="post-content">
          <div><img src="img/livre_recette_mater.JPG" alt=""></div>
          <p>
              Les élèves de maternelles ont rassemblé leurs meilleures recettes dans un livre.
              <br>
              Il est encore disponible à la vente au tarif de 10€.
          </p>
        </div>
      </article>
      <hr>
    </div> 
  </section> -->
</div>

<!-- <footer class="site-footer col-12 d-flex justify-content-between">
  <span>
    <strong>Direction :</strong>
    Mme Carré Christine
    - <i class="fa fa-phone"></i> 05 61 97 37 54
    - <i class="fa fa-envelope-o"></i>  <a href="mailto:ce.0312487k@ac-toulouse.fr">ce.0312487k@ac-toulouse.fr</a>      
  </span>
  <span>
    <strong>Parents d'élèves :</strong>
    <i class="fa fa-envelope-o"></i>  <a href="mailto:dpemater.lafitte@gmail.com">dpemater.lafitte@gmail.com</a>
  </span>
</footer> -->