<div class="container">
  <div class="row">
    <p class="col-12 description">
        Le groupe scolaire Michel Colucci a été construit en 2011.<br>
        Cet établissement accueille depuis 2015-2016, une école maternelle de 3 classes, une école élémentaire de 4 classes, une cantine et un ALAE (Accueil de Loisirs Associé à l'Ecole) matin et soir.          
    </p>
    <div class="d-flex justify-content-around col-12 top-buffer">
      <div>
        <h4><i class="fa fa-clock-o"></i> Horaires</h4>
        <ul class="no-bullet no-padding top-buffer holiday">
          <li>
            <strong>Lundi - Mardi - Jeudi - Vendredi</strong>
            <p>
              Accueil des élèves : 8h35 et 13h50 <br>
              Classe : 8h45 à 12h00 et 14h00 à 16h00 (puis ALAE)
            </p>
          </li>
          <li>
          <strong>Mercredi</strong>
            <p>
              Accueil des élèves : 8h50 <br>
              Classe : 9h00 à 12h00
            </p>
          </li>
        </ul>
      </div>
      <div>
        <h4><i class="fa fa-calendar"></i> Vacances scolaires</h4>
        <ul class="no-bullet no-padding top-buffer holiday">
          <li>
            <strong>Toussaint :</strong>                
            <p>vendredi 20 octobre au soir <i class="fa fa-long-arrow-right"></i> dimanche 5 novembre 2017 inclus</p>
          </li>
          <li>
            <strong>Noël :</strong>                
            <p>vendredi 22 décembre au soir <i class="fa fa-long-arrow-right"></i> dimanche 7 janvier 2018 inclus</p>
          </li>
          <li>
            <strong>Hiver :</strong>                
            <p>vendredi 16 février au soir <i class="fa fa-long-arrow-right"></i> dimanche 4 mars 2018 inclus</p>
          </li>
          <li>
            <strong>Printemps :</strong>
            <p>vendredi 13 avril au soir <i class="fa fa-long-arrow-right"></i> dimanche 29 avril 2018 inclus</p>
          </li>
          <li>
            <strong>Eté :</strong>
            <p>vendredi 6 juillet 2018 au soir</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
